h1 {
    color: rgb(206, 14, 164);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -10px;
    line-height: 10;
    text-align: justified;
}

p {
    color: #c60dbd;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 50px;
    margin: 0 0 50px;
    text-align: center;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 10;
}

li {
    font: 100 20px/5.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border-color: red;
    border-bottom: 10px dash #c60dbd

}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

html {
    background-color: #0dc60d
}

p.one {
    border-style: solid;
    border-width: 525px;
    border-color: red;
  }

  p.three {
    border-style: solid;
    border-color: red green blue yellow;
  }

  p.dotted {
      border-style: dashed;
      border-color: yellow
    }
